body{
  font-family: 'Raleway', sans-serif;
}
.txt-input{
font-family: 'Lato', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.wid-input{
  width: 1100px;
  margin: 0 auto;
}


.header{
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.header-inner{
  padding: 15px 0 15px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-icon-bolt{
  color: #696969;
}
.header-icon-contact{
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  color: #ffffff;
}

.main{
  margin-top: 78px;
}

.headline{
  padding: 250px 0 250px;
  text-align: center;
  background-color: #f2f2f2;
}
.headline-theme{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.headline-txt{
  font-size: 30px;
  color: #c0c0c0;
}

.bolt-wrap{
  width: 100%;
  display: block;
  margin: 0 auto;
}
.can-do{
  background-color:#74cfae;
  width: 100%;
  padding-top: 50px;
}
.can-do-inner{
  color: #ffffff;
  overflow: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.can-do-tip{
  width: 670px;
  box-sizing: border-box;
}
.iphone-img{
  vertical-align: bottom;
}
.can-do-theme{
  font-size: 24px;
  margin-bottom: 35px;
}
.can-do-txt{
  font-size: 20px;
  line-height: 30px;
}
.product{
  background-color: #f2f2f2;
  text-align: center;
  padding: 60px 0 70px;
}
.product-theme{
  font-size: 24px;
  color: #333;
}
.product-container{
  margin-top: 40px;
  font-size: 0px;
}
.img-link{
  margin-left: 100px;
  margin-top: 80px;
}
.img-link:nth-child(3n+1){
  margin-left: 0;
}
.img-link:nth-child(-n+3){
  margin-top: 0;
}
.product-img{
  opacity: 0.7;
  transition: 0.3s;
}
.product-img:hover{
  opacity: 1;
}
.product-bottom{
  margin-top: 90px;
}
.product-info{
  width: 460px;
  color: #333;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
.product-email{
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #ffffff;
  margin-left: 90px;
  transition: 0.3s;
}
.product-email:hover{
  color: #333;
}

.skill{
  background-color: #4e4e4e;
  text-align: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}
.skill-theme{
  color: #ffffff;
  font-size: 24px;
  padding-bottom: 50px;
}
.skill-img-container{
  text-align: center;
}
.skill-img-box{
  display: inline-block;
  margin-left: 180px;
}
.skill-img-box:first-child{
  margin-left: 0px;
}
.skill-index{
  margin-top: 15px;
  font-size: 16px;
  color: #ffffff;
}

.navi{
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.navi-body{
  text-align: center;
}
.navi-box{
  background-color: #f2f2f2;
  padding: 30px 0 30px;
  width: 185px;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.navi-box:hover{
  background-color: #ffffff;
}
.navi-icon{
  color: #74cfae;
}

.footer{
  background-color: #74cfae;
  margin: 0 auto;
}
.footer-inner{
  width: 1100px;
  padding: 20px 0 25px;
  text-align: right;
}
.footer-ad{
  color: #ffffff;
}